services:
  backend:
    build: ./backend
    image: shrutikoranne/backend:latest
    container_name: backend
    expose:
      - "5000"

  frontend:
    build: ./frontend
    image: shrutikoranne/frontend:latest
    container_name: frontend
    expose:
      - "3000"

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend
